<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <script src="main.js"></script>
    <style>
        table{
            border-radius: 10px;
            border-color: lightseagreen;
            background-color: white;
            width: 80%;
        }
        td {
            border-color: white;
            border-radius: 10px;
        }
        body {
            background: rgb(207, 225, 252);
        }
        h1 {

        }
    </style>
</head>
<body>
    <h1>Lista de Notícias</h1>
    <table border='2' align='center'>
        <tbody>
            {% for noticia in noticias %}
            <tr>
                <td height='50px'width='50'><img src='{{ noticia.imagem }}'/></td>
                <td>{{ noticia.titulo }}<br>{{ noticia.resumo }}</td>
            </tr>
            {% endfor %}
        </tbody>
</table>
</body>
</html>